<div class="container">
    <h1>Employee List({{count}})</h1>
    <div class="row">
      <div class="col-md-6">
        <form (ngSubmit)="addEmployee()" #employeeForm="ngForm">
          <div class="form-group">
            <label for="name">ID:</label>
            <input type="number" class="form-control" id="id" name="id" [(ngModel)]="newEmployee.Id" required>
          </div>         
           <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="newEmployee.Name" required>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="newEmployee.Description" required>
          </div>
          <div class="form-group">
            <label for="description2">Description 2:</label>
            <input type="text" class="form-control" id="description2" name="description2" [(ngModel)]="newEmployee.Description2" required>
          </div>
          <div class="form-group">
            <label for="description3">Description 3:</label>
            <input type="text" class="form-control" id="description3" name="description3" [(ngModel)]="newEmployee.Description3" required>
          </div>
          <div class="form-group">
            <label for="isComplete">Completed:</label>
            <select class="form-control" id="isComplete" name="isComplete" [(ngModel)]="newEmployee.isComplete" required>
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">Add Employee</button>
        </form>
      </div>
    </div>
    <br>
<div class="container">
  <h2>Employee List</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Description2</th>
        <th>Description3</th>
        <th>isComplete</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employeesHttpApi">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.description}}</td>
        <td>{{employee.description2}}</td>
        <td>{{employee.description3}}</td>
        <td>{{employee.isComplete}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="employee">Update</button>

          <button class="btn btn-sm btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  </div>
  